
{{ define "title" }}
	{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
	<article class="post">
		<header>
			<h2>{{ .Title }}</h2>

			<div class="meta">

			<span class="pubdate">Published at {{.Date.Format "2006-01-02"}}</span> | <span class="tags">
				Tags:
				{{ range $index, $name := .Params.tags }}
				<a class="tag" href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" title="View all posts tagged {{ $name }}">#{{ $name }}</a>
				{{ end }}
			</span>
			</div>
		</header>
		<p class="content">
		  {{ .Content }}
		</p>

	</article>
{{ end }}
