<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col">
				<h5 class="footer-title">Applications</h5>
				<ul>
					<li><a href="https://flathub.org/apps/collection/popular">Popular</a></li>
					<li><a href="https://flathub.org/apps/collection/recently-updated">New & Updated</a></li>
					<li><a href="https://flathub.org/apps/collection/editors-choice-apps">Editor's Choice</a></li>
					<li><a href="https://flathub.org/apps/collection/editors-choice-games">Editor's Choice Games</a>
					</li>
					<li><a href="https://flathub.org/apps">Browse Apps</a></li>
					<li><a href="https://flathub.org/feeds">RSS Feeds</a></li>
				</ul>
			</div>
			<div class="col">
				<h5 class="footer-title">Community</h5>
				<ul>
					<li><a href="https://flatpak.org/about/">Get Involved</a></li>
					<li><a href="https://twitter.com/FlatpakApps">Follow Us</a></li>
				</ul>
			</div>

			<div class="col">
				<h5 class="footer-title">Developers</h5>
				<ul>
					<li><a href="https://github.com/flathub/flathub/wiki/App-Submission">Publish your app</a></li>
					<li><a href="http://docs.flatpak.org/en/latest/">Documentation</a></li>
					<li><a href="https://github.com/flathub/">Example Build Files</a></li>
					<li><a href="https://flathub.org/badges">Badges</a></li>
				</ul>
			</div>

			<div class="col">
				<h5 class="footer-title">Flathub</h5>
				<ul>
					<li><a href="https://flathub.org/about">About Flathub</a></li>
					<li><a href="https://status.flathub.org/">Flathub Status</a></li>
				</ul>
			</div>

		</div>
	</div>
</footer>
