<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col">
				<h5 class="footer-title">Applications</h5>
				<ul>
					<li><a href="#" class="grey-text">Popular</a></li>
					<li><a href="" class="grey-text">New & Updated</a></li>
					<li><a href="" class="grey-text">Editor's choice</a></li>
					<li><a href="" class="grey-text">Editor's Choice Games</a></li>
					<li><a href="" class="grey-text">Browse Apps</a></li>
				</ul>
			</div>
			<div class="col">
				<h5 class="footer-title">Community</h5>
				<ul>
					<li><a href="#" class="grey-text">Get Involved</a></li>
					<li><a href="" class="grey-text">Follow Us</a></li>
				</ul>
			</div>

			<div class="col">
				<h5 class="footer-title">Developers</h5>
				<ul>
					<li><a href="#" class="grey-text">Publish your app</a></li>
					<li><a href="" class="grey-text">Documentation</a></li>
					<li><a href="" class="grey-text">Example Build Files</a></li>
					<li><a href="" class="grey-text">Badges</a></li>
				</ul>
			</div>

			<div class="col">
				<h5 class="footer-title">Flathub</h5>
				<ul>
					<li><a href="#" class="grey-text">About Flathub</a></li>
					<li><a href="" class="grey-text">Flathub Status</a></li>
				</ul>
			</div>

		</div>
	</div>
</footer>
