* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Navbar */
nav.navbar {
  background-color: #4a86cf;
  height: 64px;
  display: flex;
  padding-left: 30px;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
nav.navbar .brand-logo {
  align-self: center;
  padding: 4px 14px;
  transition: background-color 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}
nav.navbar .brand-logo:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

nav.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 14px 0;
  align-self: center;
}
@media screen and (max-width: 480px) {
  nav.navbar ul {
    display: none;
  }
}

nav.navbar ul li {
  min-width: 88px;
}

nav.navbar ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 36px;
  padding: 10px 14px;
  transition: color 0.2s cubic-bezier(0.35, 0, 0.25, 1),
    background-color 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}
nav.navbar ul li a:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.12);
}

/* Post */
article.post {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
  width: 100%;
  padding: 40px;
  border-radius: 6px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

article.post header h2 {
  font-size: 2.2rem;
  line-height: 1.6em;
  color: #4a86cf;
}
@media screen and (max-width: 375px) {
  article.post header h2 {
    font-size: 2rem;
  }
}

article.post header .meta {
  font-size: 0.9rem;
}

article.post p.content {
  margin-top: 20px;
}

article.post p {
  line-height: 1.6em;
  margin-top: 12px;
}

/* Post Summary */
.posts {
  max-width: 1000px;
  margin: 0 auto;
}

.post-summary {
  margin-top: 40px;
  padding: 20px;
  border-radius: 3px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.post-summary header h3 {
  font-size: 1.6rem;
  transition: all 3000ms;
}
.post-summary header h3 a:hover {
  color: #4a86cf;
}

.post-summary header h3 a {
  color: black;
  text-decoration: none;
}

.post-summary header .meta {
  padding-top: 6px;
  font-size: 0.9rem;
}

.post-summary p {
  margin-top: 18px;
  line-height: 1.6em;
}

/* Footer */

footer.page-footer {
  background-color: black;
  padding-left: 32%;
  padding-right: 32%;
  margin-top: 40px;
  padding-top: 20px;
  color: grey;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  footer.page-footer {
    padding-left: 10%;
    padding-right: 10%;
  }
  footer.page-footer .container {
    width: 100%;
  }
}

footer.page-footer div.row h5.footer-title {
  color: #eeebebd2;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.8em;
}
@media screen and (max-width: 768px) {
  footer.page-footer div.row h5.footer-title {
    margin-top: 12px;
  }
}

footer.page-footer div.row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding-left: 40px;
  place-content: flex-start space-around;
}
@media screen and (max-width: 768px) {
  footer.page-footer div.row {
    padding-left: 0;
  }
}
@media screen and (max-width: 600px) {
  footer.page-footer div.row {
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  footer.page-footer div.row {
    flex-direction: column;
  }
}

footer.page-footer div.row ul {
  list-style: none;
  flex: 1 1 0%;
}
footer.page-footer div.row ul li {
  width: 180px;
  padding-top: 12px;
  padding-left: 2px;
}

@media screen and (max-width: 768px) {
  footer.page-footer div.row ul li {
    width: 100%;
  }
}

footer.page-footer div.row ul li a {
  padding: 0;
  transition: 0.35s;
  font-weight: 700;
  color: grey;
  text-decoration: none;
  background-color: transparent;
  font-size: 0.9rem;
  line-height: 1.8em;
}

/* Utilities */
.container {
  width: 66%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

pre {
  margin-top: 12px;
  tab-width: 4;
  white-space: pre-wrap;
  overflow-x: auto;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 20px;
  background: #ebebeb;
  border: 1px solid rgb(211, 202, 202);
}
code {
  font-family: "Courier New", Courier, monospace, sans-serif;

  display: block;
  padding: 12px;
}

/* Tags */
.tags .tag {
  padding-left: 3px;
  text-decoration: none;
  color: #4a86cf;
  cursor: pointer;
}
.tags .tag:hover {
  text-decoration: underline;
}
